<div class="container post">
  <h2 class="post-title">{{title}}</h2>
  <p class="post-content">{{content}}</p>
  <p class="post-creator">Created by {{user.name}} on {{format_date date_created}}</p>
  <button class="submit-button">Comment</button>
</div>
