* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --mainColor: hwb(125 14% 15%);
    --secondaryColor: hwb(0 6% 94%);
    --thirdColor: hwb(0 28% 72%);
    --textColor: #fff;
}

::placeholder {
    color: var(--secondaryColor);
}

body {
    background-color: hwb(0 9% 91%);
}

a {
    text-decoration: none;
    color: var(--textColor);
}

header {
    background-color: var(--secondaryColor);
    height: 110px;
}

header h1 {
    font-size: 3rem;
    position: relative;
    display: inline;
    top: 35px;
    left: 40px;
}

header h1 a {
    color: var(--mainColor);
}

header nav {
    display: flex;
    justify-content: end;
}

header nav a {
    padding-right: 40px;
    font-size: 1.4rem;
    transition: 50ms;
    color: var(--textColor);
}

header nav a:hover {
    color: var(--mainColor);
}

.container {
    background-color: var(--secondaryColor);
    padding: 20px;
    margin: 20px 20%;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* homepage posts */
.post a {
    color: var(--textColor);
    transition: 50ms;
}

.post a:hover {
    color: var(--mainColor);
}

.post-title {
    font-size: 2rem;
    text-align: center;
}

.post-content {
    background-color: var(--thirdColor);
    color: #fff;
    padding: 20px;
    margin: 20px 0;
}

.post-creator {
    color: #535353;
    text-align: end;
}

h3, h2 {
    text-align: center;
    color: var(--textColor);
    font-size: 2rem;
}

/* login signup */
.form-input {
    color: var(--textColor);
}

.form {
    padding: 20px 0;
}

#email-login,
#password-login,
#name-signup,
#email-signup,
#password-signup {
    width: 100%;
    height: 30px;
    text-align: center;
    outline: none;
    border: 0;
    margin: 10px 0;
    background-color: var(--thirdColor);
}

/* login/signup create button */
.submit-button,
.update-post,
.delete-post {
    color: var(--textColor);
    padding: 10px;
    border: 0;
    border-radius: 5px;
    margin: 10px 0;
    background-color: var(--mainColor);
    transition: 50ms;
}

.submit-button:hover {
    background-color: var(--thirdColor);
    cursor: pointer;
}

.loginsignuplinker {
    color: var(--textColor);
    transition: 50ms;
}

.loginsignuplinker:hover {
    color: var(--mainColor);
}

/* Dashboard */
.new-post {
    position: absolute;
    top: 120px;
    left: 20px;
}

#post-title,
#post-content {
    width: 50vw;
    height: 30px;
    text-align: center;
    outline: none;
    border: 0;
    margin: 10px 0;
    background-color: var(--thirdColor);
}

#post-content {
    height: 300px;
}

textarea {
    padding: 20px;
    resize: none;
}

.update-post {
    background-color: #639953;
}

.delete-post {
    background-color: #995353;
}

.update-post:hover,
.delete-post:hover {
    background-color: var(--thirdColor);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .container {
        background-color: var(--secondaryColor);
        padding: 20px;
        margin: 10px;
    }
}